absl-py==0.13.0
asn1crypto==0.24.0
astunparse==1.6.3
backcall==0.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cryptography==2.1.4
cupyck @ git+https://github.com/uwmisl/cupyck
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
docutils==0.18.1
gast==0.3.3
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.38.0
h5py==2.10.0
idna==2.6
importlib-metadata==4.5.0
importlib-resources==5.4.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
joblib==1.1.1
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
mock==5.0.2
numexpr==2.8.1
numpy==1.19.2
nupyck @ git+https://github.com/uwmisl/nupyck
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
parso==0.7.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.36
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.7
pycrypto==2.6.1
Pygments==2.14.0
pygobject==3.26.1
pyparsing==3.0.9
python-apt==1.6.5+ubuntu0.6
python-dateutil==2.8.2
pytz==2023.3
pyxdg==0.25
PyYAML==6.0.1
pyzmq==17.1.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.16.0
sklearn==0.0.post5
statistics==1.0.3.5
tables==3.5.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorflow-addons==0.10.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.3
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.1
traitlets==4.3.3
typeguard==2.13.3
typing-extensions==3.10.0.0
unireedsolomon==1.0.5
urllib3==1.26.5
wcwidth==0.2.13
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
